In [31]:
import numpy as np
import pandas as pd
import requests
import json

In [58]:
characters = [str(x) for x in range(1,10)]

In [46]:
url = 'https://swapi.co/api/people/'

In [34]:
JSONcont = requests.get(url + str(characters[1])).json()

for item in JSONcont.items():
    print(item)

('name', 'Luke Skywalker')
('height', '172')
('mass', '77')
('hair_color', 'blond')
('skin_color', 'fair')
('eye_color', 'blue')
('birth_year', '19BBY')
('gender', 'male')
('homeworld', 'https://swapi.co/api/planets/1/')
('films', ['https://swapi.co/api/films/2/', 'https://swapi.co/api/films/6/', 'https://swapi.co/api/films/3/', 'https://swapi.co/api/films/1/', 'https://swapi.co/api/films/7/'])
('species', ['https://swapi.co/api/species/1/'])
('vehicles', ['https://swapi.co/api/vehicles/14/', 'https://swapi.co/api/vehicles/30/'])
('starships', ['https://swapi.co/api/starships/12/', 'https://swapi.co/api/starships/22/'])
('created', '2014-12-09T13:50:51.644000Z')
('edited', '2014-12-20T21:17:56.891000Z')
('url', 'https://swapi.co/api/people/1/')

In [60]:
character_list = []

for character in characters:
    JSONcontent = requests.get(url + str(character)).json()
    character_list.append([JSONcontent['name'], JSONcontent['height'], JSONcontent['mass'], JSONcontent['birth_year'],
                          JSONcontent['homeworld'], JSONcontent['films']])

In [61]:
print(character_list)

[['Luke Skywalker', '172', '77', '19BBY', 'https://swapi.co/api/planets/1/', ['https://swapi.co/api/films/2/', 'https://swapi.co/api/films/6/', 'https://swapi.co/api/films/3/', 'https://swapi.co/api/films/1/', 'https://swapi.co/api/films/7/']], ['C-3PO', '167', '75', '112BBY', 'https://swapi.co/api/planets/1/', ['https://swapi.co/api/films/2/', 'https://swapi.co/api/films/5/', 'https://swapi.co/api/films/4/', 'https://swapi.co/api/films/6/', 'https://swapi.co/api/films/3/', 'https://swapi.co/api/films/1/']], ['R2-D2', '96', '32', '33BBY', 'https://swapi.co/api/planets/8/', ['https://swapi.co/api/films/2/', 'https://swapi.co/api/films/5/', 'https://swapi.co/api/films/4/', 'https://swapi.co/api/films/6/', 'https://swapi.co/api/films/3/', 'https://swapi.co/api/films/1/', 'https://swapi.co/api/films/7/']], ['Darth Vader', '202', '136', '41.9BBY', 'https://swapi.co/api/planets/1/', ['https://swapi.co/api/films/2/', 'https://swapi.co/api/films/6/', 'https://swapi.co/api/films/3/', 'https://swapi.co/api/films/1/']], ['Leia Organa', '150', '49', '19BBY', 'https://swapi.co/api/planets/2/', ['https://swapi.co/api/films/2/', 'https://swapi.co/api/films/6/', 'https://swapi.co/api/films/3/', 'https://swapi.co/api/films/1/', 'https://swapi.co/api/films/7/']], ['Owen Lars', '178', '120', '52BBY', 'https://swapi.co/api/planets/1/', ['https://swapi.co/api/films/5/', 'https://swapi.co/api/films/6/', 'https://swapi.co/api/films/1/']], ['Beru Whitesun lars', '165', '75', '47BBY', 'https://swapi.co/api/planets/1/', ['https://swapi.co/api/films/5/', 'https://swapi.co/api/films/6/', 'https://swapi.co/api/films/1/']], ['R5-D4', '97', '32', 'unknown', 'https://swapi.co/api/planets/1/', ['https://swapi.co/api/films/1/']], ['Biggs Darklighter', '183', '84', '24BBY', 'https://swapi.co/api/planets/1/', ['https://swapi.co/api/films/1/']]]

In [62]:
sw_data = pd.DataFrame(character_list)
sw_data.sample(5)

,0,1,2,3,4,5
8,Biggs Darklighter,183,84,24BBY,https://swapi.co/api/planets/1/,[https://swapi.co/api/films/1/]
6,Beru Whitesun lars,165,75,47BBY,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/5/, https://swapi...."
1,C-3PO,167,75,112BBY,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/2/, https://swapi...."
4,Leia Organa,150,49,19BBY,https://swapi.co/api/planets/2/,"[https://swapi.co/api/films/2/, https://swapi...."
3,Darth Vader,202,136,41.9BBY,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/2/, https://swapi...."

In [63]:
sw_data.columns = ['name', 'height', 'mass', 'birth_year', 'homeworld', 'films']

In [65]:
sw_data

,name,height,mass,birth_year,homeworld,films
0,Luke Skywalker,172,77,19BBY,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/2/, https://swapi...."
1,C-3PO,167,75,112BBY,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/2/, https://swapi...."
2,R2-D2,96,32,33BBY,https://swapi.co/api/planets/8/,"[https://swapi.co/api/films/2/, https://swapi...."
3,Darth Vader,202,136,41.9BBY,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/2/, https://swapi...."
4,Leia Organa,150,49,19BBY,https://swapi.co/api/planets/2/,"[https://swapi.co/api/films/2/, https://swapi...."
5,Owen Lars,178,120,52BBY,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/5/, https://swapi...."
6,Beru Whitesun lars,165,75,47BBY,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/5/, https://swapi...."
7,R5-D4,97,32,unknown,https://swapi.co/api/planets/1/,[https://swapi.co/api/films/1/]
8,Biggs Darklighter,183,84,24BBY,https://swapi.co/api/planets/1/,[https://swapi.co/api/films/1/]

In [67]:
sw_data.to_csv('sw_sample.csv')